<% include partials/header %>

<h1>Campgrounds</h1>

<% campgrounds.forEach(function(campground){ %>
    <div>
        <h4><%= campground["name"] %></h4>
        <img src="<%= campground.image%>">
    </div>

<% }); %>

<h4>Can't find a campground? ... <a href="/campgrounds/new">ADD IT!</a></h4>



<% include partials/footer %>