<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h3 style="text-align: center;">Create a new campground</h3>
        <div style="width: 30%; margin: 0 auto;">
            <form action="/campgrounds" method="POST"> 
                <input classs="form-control" type="text" name="name" placeholder="name">
                <input classs="form-control" type="text" name="image" placeholder="image url">
                <input classs="form-control" type="text" name="desc" placeholder="description">
                <input classs="form-control" type="number" name="rate" min="0" placeholder="daily rate">
                <input class="btn btn-lg btn-primary btn-block" type="submit">
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>