html, body {
    height: 100%;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption {
    padding: 9px;
}

#main-nav-bar {
    height:6%;
}

#main-container {
    min-height: 94%
}

#main {
    overflow: auto;
    padding-bottom: 25px;
}

#footer {
    text-align: center; 
    position: relative;
    height: 25px;
    width: 100%;
    margin-top: -25px;
    clear: both;
}

#footer p {
    margin-bottom: 0;
}